@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
      --color-primary:59 130 246;
      --color-primaryDark: 31 41 55;
      --color-secondary: 34 197 94;
      --color-light: 250 250 250;
      --color-lightGray: 209 213 219;
      --color-gray: 156 163 175;
      --color-darkGray: 55 65 81;
      --color-yellow: 234 179 8;
      --color-purple: 168 85 247;
      --color-error: 239 68 68;


    }
  }